@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&family=Lobster&display=swap');

$font-family-1: 'Kanit', sans-serif;
$font-family-2: 'Lobster', cursive;

$bcg-transition: 0.2s;
$transition-time: 0.2s;

$font-size-5: 2rem;

$min-width-desktop: 800px;

//NAV
$nav-hover-color: grey;

//HAM
$ham-width: 38px;
$ham-height: 20px;
$ham-item-height: 2px;

//BUTTON
$button-padding-horizontal: 7px;
$button-padding-vertical: 20px;
$button-color-1: rgb(36, 25, 46);
$button-color-1-hover: rgb(64, 47, 80);
$button-width: 200px;


//HOME
$title-font-size-mobile: 3.2rem;
$title-font-size: 4.6rem;

$subtitle-font-size-mobile: 0.8rem;
$subtitle-font-size: 0.9rem;

$subtitle-letter-spacing-mobile: 2.5px;
$subtitle-letter-spacing: 6px;

$home-bcg-button-color: rgba(0, 0, 0, 0.467);
$home-bcg-button-color-hover: #332b5d;

//PRICELIST
$service-max-width: 700px;
$edit-icon-height: 25px;

//CONTACT
$contact-max-width: 500px;
$contact-item-margin-bottom: 5px;
$contact-title-margin-bottom: 20px;
$phone-icon-width: 26px;
$phone-font-size: 1.5rem;
$phone-color: #ffa500;
$phone-color-svg-filter: invert(77%) sepia(31%) saturate(6988%) hue-rotate(1deg) brightness(104%) contrast(105%);

@mixin blur-area {
  padding: 40px 25px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.231);
  backdrop-filter: blur(7px);
  -webkit-box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.69);
  box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.69);
}
