@import '../../../sass/variable.scss';

.services{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background-image: url('../../../../public/images/pricelist-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media(min-width: $min-width-desktop){
    background-image: url('../../../../public/images/pricelist.png');
  }

  &__wrapper{
    @include blur-area();
    position: relative;
    width: 96%;
    max-width: $service-max-width;
  }

  &__title{
    color: white;
    font-size: $font-size-5;
  }
}

.service{
  display: flex;
  padding: 10px 0;

  &__index{
    width: 30px;
    text-align: left;
    color: white;
  }

  &__title{
    flex-basis: 80%;
    text-align: left;
    color: white;
  }

  &__price{
    flex-basis: 20%;
    color: white;
    text-align: right;
  }
}